.titulo{
    background-image: url(img/aviao.png);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items:flex-start;
    padding: 50px 0 0 ;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 35px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Destino img{
 width: 200px;
}
.Destino{
    text-align: center;
    margin: 20px;
}
.inicio{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: 10px;
    background-color: #1D0F6E;
    color: white;
}
.Meio{
    align-items: center;
}
*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}
.oportunidade{
    color: #1D0F6E;
    text-align: center;
    font-size: 35px;
    ;
}